footer{
    background-color: grey;
    clear: both;
    color: #333;
    padding: 3em 0;
    margin-top: 2em;
}

footer p{
    font-style: italic;
    text-align: center;
    margin: 0;
    color: white;
}