.main{
    width: 50%;
    align-items: center;
    text-align: center;
    margin: auto;
    background-color: white;
}

.ttt{
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
}

.pais{
    background-color: rgb(235, 235, 235);
    width: 30%;
    padding-bottom: 2%;
    text-align: left;
   
}

.clase{
    text-align: left
}

.tel{
    margin-bottom: 2%;
    margin-top: 2%;
}

.cel{
    margin-bottom: 2%;
    margin-top: 2%;
}